.pageArea{
    display: flex;
    margin-top: 20px;
}
.leftSide{
    flex: 1;
    margin-right: 20px;
}
.adImage{
    width: 320px;
    height: 320px;
    margin-right: 20px;
}
.adImage .each_slide img{
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 320px;
}
.adInfo{
    flex: 1;
}
.adName{
    margin-bottom: 20px;
}
.adName h2{
    margin: 0;
    margin-top: 20px;
}
.adName small{
    color: #999;
}
.adDescription small{
    color: #999;
}
.box{
    display: flex;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    margin-bottom: 20px;
}
.boxPadding{
    padding: 10px;
}


.rightSide{
    width: 250px;
}
.rightSide .price span{
    color: #00f;
    display: block;
    font-size: 27px;
    font-weight: bold;
}
.rightSide .contactSellerLink{
    background-color: #00f;
    color: #fff;
    height: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px #999;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-bottom: 20px;
}
.rightSide .createdBy small{
    display: block;
    color: #999;
    margin-top: 10px;

}

@media (max-width:600px) {
    .pageArea{
        flex-direction: column;
    }
    .leftSide{
        margin: 0;
    }
    .leftSide .box{
        margin: auto;
        width: 320px;
        flex-direction: column;
    }
    .leftSide .box .adInfo{
        padding: 10px;
    }
    .rightSide{
        width: auto;
        margin-top: 20px;
    }
    .rightSide .box{
        width: 320px;
        margin: auto;
    }
    .rightSide .contactSellerLink{
        width: 320px;
        margin: 20px auto;
    }
}